AVDOMAIN="{{ zimbra_domain }}"
AVUSER="admin@{{ zimbra_domain }}"
CREATEADMIN="admin@{{ zimbra_domain }}"
CREATEADMINPASS="{{ zimbra_admin_password }}"
CREATEDOMAIN="{{ zimbra_domain }}"
DOCREATEADMIN="yes"
DOCREATEDOMAIN="yes"
DOTRAINSA="yes"
EXPANDMENU="no"
HOSTNAME="{{ zimbra_full_hostname }}"
HTTPPORT="8080"
HTTPPROXY="TRUE"
HTTPPROXYPORT="80"
HTTPSPORT="8443"
HTTPSPROXYPORT="443"
IMAPPORT="7143"
IMAPPROXYPORT="143"
IMAPSSLPORT="7993"
IMAPSSLPROXYPORT="993"
INSTALL_WEBAPPS="service zimlet zimbra zimbraAdmin"
JAVAHOME="/opt/zimbra/common/lib/jvm/java"
LDAPBESSEARCHSET="set"
LDAPHOST="{{ zimbra_full_hostname }}"
LDAPPORT="389"
LDAPREPLICATIONTYPE="master"
LDAPSERVERID="2"
MAILBOXDMEMORY="1945"
MAILPROXY="TRUE"
MODE="https"
MYSQLMEMORYPERCENT="30"
POPPORT="7110"
POPPROXYPORT="110"
POPSSLPORT="7995"
POPSSLPROXYPORT="995"
PROXYMODE="https"
REMOVE="no"
RUNARCHIVING="no"
RUNAV="yes"
RUNCBPOLICYD="no"
RUNDKIM="yes"
RUNSA="yes"
RUNVMHA="no"
SERVICEWEBAPP="yes"
SMTPDEST="admin@{{ zimbra_domain }}"
SMTPHOST="{{ zimbra_full_hostname }}"
SMTPNOTIFY="yes"
SMTPSOURCE="admin@{{ zimbra_domain }}"
SNMPNOTIFY="yes"
SNMPTRAPHOST="{{ zimbra_full_hostname }}"
SPELLURL="http://{{ zimbra_full_hostname }}:7780/aspell.php"
STARTSERVERS="yes"
STRICTSERVERNAMEENABLED="TRUE"
SYSTEMMEMORY="7.6"
TRAINSAHAM="ham.bozqmnm5h@{{ zimbra_domain }}"
TRAINSASPAM="spam.tvahtevh@{{ zimbra_domain }}"
UIWEBAPPS="yes"
UPGRADE="yes"
USEEPHEMERALSTORE="no"
USESPELL="yes"
VERSIONUPDATECHECKS="TRUE"
VIRUSQUARANTINE="virus-quarantine.ry0srjgm0@{{ zimbra_domain }}"
ZIMBRA_REQ_SECURITY="yes"
ldap_bes_searcher_password="{{ zimbra_system_password }}"
ldap_dit_base_dn_config="cn=zimbra"
LDAPROOTPASS="{{ zimbra_system_password }}"
LDAPADMINPASS="{{ zimbra_system_password }}"
LDAPPOSTPASS="{{ zimbra_system_password }}"
LDAPREPPASS="{{ zimbra_system_password }}"
LDAPAMAVISPASS="{{ zimbra_system_password }}"
ldap_nginx_password="{{ zimbra_system_password }}"
mailboxd_directory="/opt/zimbra/mailboxd"
mailboxd_keystore="/opt/zimbra/mailboxd/etc/keystore"
mailboxd_keystore_password="{{ zimbra_system_password }}"
mailboxd_server="jetty"
mailboxd_truststore="/opt/zimbra/common/lib/jvm/java/lib/security/cacerts"
mailboxd_truststore_password="changeit"
postfix_mail_owner="postfix"
postfix_setgid_group="postdrop"
ssl_default_digest="sha256"
zimbraFeatureBriefcasesEnabled="Enabled"
zimbraFeatureTasksEnabled="Enabled"
zimbraIPMode="ipv4"
zimbraMailProxy="TRUE"
zimbraMtaMyNetworks="127.0.0.0/8 [::1]/128 {{ zimbra_subnet }}"
zimbraPrefTimeZoneId="Asia/Singapore"
zimbraReverseProxyLookupTarget="TRUE"
zimbraVersionCheckNotificationEmail="admin@{{ zimbra_domain }}"
zimbraVersionCheckNotificationEmailFrom="admin@{{ zimbra_domain }}"
zimbraVersionCheckSendNotifications="TRUE"
zimbraWebProxy="TRUE"
zimbra_ldap_userdn="uid=zimbra,cn=admins,cn=zimbra"
zimbra_require_interprocess_security="1"
INSTALL_PACKAGES="zimbra-core zimbra-ldap zimbra-logger zimbra-mta zimbra-snmp zimbra-store zimbra-apache zimbra-spell zimbra-memcached zimbra-proxy "
