$TTL 1D
@	IN SOA	@ {{ zimbra_domain }}. (
				{{ zimbra_serial['stdout'] }}	; serial
					1D	; refresh
					1H	; retry
					1W	; expire
					3H )	; minimum
	NS	{{ zimbra_domain }}.
{{ zimbra_ptr }}	PTR	{{ zimbra_fqdn }}.
